body{
    font-family: 'Open Sans', sans-serif;
    background-color: #318CE7;
}
.container{
    margin: 0 auto;
    margin-top: 130px;
    text-align: center;
    width:300px;
}
.container .logo{
    color: white;
    font-size: 55px;
}
.heading h1{
    color:white;
}
.container-field form input{
    background-color: white;
    display: block;
    border:none;
    width: 100%;
    padding:0;
    margin:0px;
    outline:none;   
    text-indent: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
form input[type="password"]{
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
form input[type="text"]{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
#btn{
    display:block;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    padding: 18px;
    background-color: #0066b2;
    color:white;
    border:none;
    border-radius: 6px;
    font-weight: bold;
}
#btn:hover{
    background-color: #6F00FF;
}
.footer p{
    color:white;
}
.footer p a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

